.nav{
    position: fixed;
    top:0;
    height: 60px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
   
}
.navlogo{
    height:60px;
    width: 150px;
}
.nav_user  {
    height: 60px;
    width: 40px;
    margin-right: 40px;
    object-fit: contain;
}